@use "../base/variables" as *;

.user-page {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  background-color: $dark-color;
  min-height: calc(100vh - 170px);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
  gap: 1rem;

  h1 {
    margin: 0; // Reset default margin if needed
  }
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;

  &-content-wrapper {
    width: 100%;
    flex: 1;
  }

  &-title {
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-weight: normal;
  }

  &-amount {
    margin: 0;
    font-size: 2.5rem;
    font-weight: bold;
  }

  &-amount-description {
    margin: 0;
  }

  .cta {
    // Styles specific to the cta wrapper within account if needed
  }
}

.transaction-button {
  display: block;
  width: 100%; // Or adjust as needed
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  background-color: #00bc77;
  border-color: #00bc77;
  color: #fff;
  border: none; // Assuming it looks like a link
  cursor: pointer;

  @media (min-width: 720px) {
    width: 200px; // Adjust width for larger screens
  }
}

// Add media query for responsive adjustments if needed
@media (min-width: 720px) {
  .account {
    flex-direction: row;

    &-content-wrapper.cta {
      flex: 0; // Prevent cta from taking extra space
    }

    .transaction-button {
      width: 200px;
    }
  }
}

// Styles pour le bouton d'édition et le formulaire
.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 2rem; // Ajouté depuis index.scss
}

.edit-profile-form {
  margin: 0 auto;
  width: 80%;
  max-width: 500px;
  color: #00bc77; // Note: la couleur a été ajoutée précédemment, vérifier si c'est correct
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 720px) {
    flex-direction: row;
  }
}

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
